
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="http://craigslockandsafe.com/">Craig's Lock & Safe</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Free Tips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">More Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Meet Charlie</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Sugar Land, TX Security Tips</h1>
              <p class="intro-text">Free Information.
               </p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-left">
      <div class="container" style="text-align:left;">
        <div class="row">
          <div class="col-lg-8 mx-auto" >
            <h2 style="color:red;">What you need to know</h2>
            <p>1. Locks are only as secure as the door or door frame to which they are installed.</p>
            <p>2. A burglar alarm only notifies someone that an intruder has been detected. It does not keep a burglar out. Unfortunately, the time it takes for the authorities to respond is enough for the intruder to get away with your property.</p>
            <p>3. When a lock is picked, the lock is compromised without any visible sign of tampering. High security cylinders do deter, but not prevent other possible bypass techniques.</p>
            <p>4. With time, any security can be defeated. Nothing is guaranteed burglar proof or pick proof - only burglar or pick resistant. The more security we have, the more time we are buying, and the more time it will take an intruder to enter.</p>
            <p>5. An intruder will choose the target of least resistance. If your neighbor has better security, you are more likely to be the victim.</p>
            <p>6. Police studies indicate that having a good high security lock on your door is the best deterrent against burglaries.</p>
            <p>7. Only a security professional can best determine what is necessary for your protection. Call your local Locksmith.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-left">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2 style="color:red;">Did you know?</h2>
          <p>1. Most burglars are amateurs who have no special training or familiarity with locks or security devices. They are simply opportunists who take advantage of the first vulnerable home they find.</p>
            <p>2. Professional burglars are very rare. Most burglars are neighborhood juveniles.</p>
            <p>3. No neighborhood (rich or poor) is safe from crime.</p>
            <p>4. Most burglars are never caught, and most stolen property is never recovered.</p>
            <p>5. It takes less that two minutes for the average burglar to get into your home, and the most common entry is through unlocked doors or windows. Most home burglaries occur in the daytime.</p>
            <p>6. If you can delay a burglar from entry for just three minutes, he will usually give up and leave. Just the risk of being seen or heard will deter most burglars.</p>
          <p>7. If you shoot a burglar you may be arrested and/or sued.</p>
          <p>8. A cooperative program such as Neighborhood Watch is a strong deterrent to crime.</p>
          <p>9. Most burglars will not enter an occupied home.</p>

        </div>
      </div>
    </section>

    <!-- Contact Section -->
    
     <!-- Contact -->
    <section id="contact">
      <div class="container" style="padding: 20px; border:white solid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Meet Charlie</h2>
            
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
           
          </div>
        </div>
      </div>
    </section>
    